.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center!important;
  background-repeat: no-repeat!important;
  content: "&nbsp;";
}

.icon.small {
  width: 16px;
  height: 16px;
}

.icon__glass {
  background: url(/assets/icons/glass.svg);
}

.icon__chat {
  background: url(/assets/icons/chat.svg);
}

.icon__bell {
  background: url(/assets/icons/bell.svg);
}

.icon__arrow-down {
  background: url(/assets/icons/arrow-down.svg);
}

.icon__home {
  background: url(/assets/icons/home.svg);
}

.icon__arrow-left-small {
  background: url(/assets/icons/arrow-left-small.svg);
}

.icon_with_badge {
  display: block;
  width: 28px;
  height: 28px;
}

.icon_with_badge > .icon {
  position: relative;
  top: 4px;
  right: 4px;
}

.icon_with_badge > .badge {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--primary);
  color: var(--white);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  top: -24px;
  right: -8px;
  font-weight: bold;
}

.icon_via_svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}