/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

:root {
  --background: #F5F6FA;
  --foreground: #131523;
  --primary: #1E5EFF;
  --secondary: #5A607F;
  --white: #FFFFFF;
  --muted: #A1A7C4;

  --button-hover: #4F81FF;
  --button-active: #336DFF;
  --border: #D7DBEC;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
}

h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

.layout {
  min-height: 100%;
}

.navbar {
  padding: 1rem 1.5rem;
  background-color: var(--white);
  box-shadow: 0px 1px 4px rgba(21, 34, 50, 0.08);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar__search {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-left: 2rem;
}

.navbar__search input {
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  width: 100%;
  color: var(--secondary);
}

.navbar__search input::placeholder {
  color: var(--secondary);
}

.navbar__icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar__user {
  display: flex;
  gap: 12px;
  color: var(--secondary);
  align-items: center;
}

.user__avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.user__arrow {
  margin-left: 6px;
}

.user__info {
  text-wrap: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.layout__page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.page__nav {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 250px;
  height: 100%;
}

.nav__filler {
  height: 16px;
}

.nav__item {
  display: flex;
  gap: 16px;
  padding: 10px 16px;
  color: var(--secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  user-select: none;
  border-radius: 4px;
  transition: all 0.1s;
  align-items: center;
  text-wrap: nowrap;
}

.nav__item>.badge {
  margin-left: auto;
  border-radius: 12px;
  background-color: var(--foreground);
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  padding: 0px 8px;
}

.nav__item:hover {
  color: var(--white);
  background-color: var(--button-hover);
}

.nav__item:active {
  color: var(--white);
  background-color: var(--button-active);
}

.nav__item.active {
  color: var(--white);
  background-color: var(--primary);
  font-weight: bold;
}

.nav__item:hover>.icon_via_svg>svg>path,
.nav__item:active>.icon_via_svg>svg>path,
.nav__item.active>.icon_via_svg>svg>path {
  fill: var(--white);
}

.nav__text-item {
  color: var(--muted);
  cursor: default;
}

.nav__text-item:hover,
.nav__text-item:active,
.nav__text-item.active {
  background: none;
  cursor: default;
  color: var(--muted);
}

.back {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  cursor: pointer;
}

.page__layout {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-left: 1px solid var(--border);
  width: 100%;
}

.page__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.content__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__nav>.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__article-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.content__article-spacer {
  height: 20px;
}

.content__article-search {
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--white);
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  gap: 8px;
}

.content__article-search input {
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
  color: var(--secondary);
  width: 100%;
}

.content__article-search input::placeholder {
  color: var(--muted);
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 6px;
  background-color: var(--white);
  padding: 28px;
  font-size: 16px;
  line-height: 24px;
}

.content__article>p {
  word-wrap: break-word;
}

hr {
  border: none;
  border-bottom: 1px solid var(--border);
  margin: 0;
  margin-bottom: 12px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--secondary);
  padding: 20px;
  border-radius: 4px;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__list-item {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.article__list-bulb {
  background-color: var(--background);
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.article__tabs-container {
  margin-bottom: -24px;
}

.article__tabs {
  display: flex;
  gap: 32px;
}

.tabs__item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 0px;
  color: var(--secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.tabs__item.active {
  color: var(--primary);
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
}

.article__tabs-underlayer {
  display: block;
  box-shadow: 0px -1px 0px var(--border);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid var(--border);
  color: var(--primary);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.button:hover {
  background-color: var(--background);
}

.article__feedback {
  display: flex;
  gap: 12px;
}

.text-muted {
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary);
}

.content__article__cards-wrapper {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.content__article__cards-wrapper>.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 28px;
  font-size: 14px;
  line-height: 20px;
  color: var(--foreground);
  border-radius: 6px;
  background-color: var(--white);
  flex-grow: 1;
}

.content__article__cards-wrapper>.card>a {
  color: var(--primary);
  font-weight: 500;
  margin-top: 8px;
}

.only-desktop {
  display: none;
}

.only-desktop-flex {
  display: none;
}

.desktop-row {
  flex-direction: column;
}

@media screen and (min-width: 1070px) {
  .only-desktop {
    display: initial;
  }

  .only-desktop-flex {
    display: flex;
  }

  .desktop-row {
    flex-direction: row;
  }
}